/* Reset CSS */
*{
  margin:0;
  padding:0;
  /* Google font 字體 */
  font-family: 'Poppins', sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;
}
.banner video{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  object-fit: cover;
}
#h1{
  position: absolute;
  top:0;
  left:5%;
  width: 100%;
  height: 100%;
    font-weight: bold;
    text-align: left;
  line-height:90vh;
  
   /* 字全大寫 */
  text-transform:uppercase;
  
  mix-blend-mode: normal;
}

#h3{
  position: absolute;
  top:0;
  left:5%;
  width: 100%;
  height: 100%;
 text-align: left;

    padding-top:60vh ;
  text-transform:uppercase;
  mix-blend-mode: normal;
}


img{
       height: 100vh;
    margin-right: 10px;
}

